*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background: linear-gradient(
        to bottom right, /*  gradient direction */
        #6145B7 0%,      /* starting color at the top left corner */
        #3E30A0 5%,     /* second color transition */
        #02066F 25%,     /* third color transition */
        #000030 100%     /* final color for the rest of the page */
      );  
}

.about{
    width: 100%;
    padding: 50px 0px;
}
.about img{
    height: auto ;
    width: 420px;
    margin-top: 100px;
}
.content{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}
.content h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.content p{
    color: white;
    font-size: 20px;
}
span{
    color: orangered;
}

a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #d35f45;
  }
  
  img {
    max-width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    position: relative;
  }
  
  nav .logo img {
    width: 180px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 2em;
  }
  
  nav ul li a img {
    width: 25px;
    height: 25px;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon span {
    height: 3px;
    width: 25px;
    background: white;
    margin-bottom: 4px;
    border-radius: 3px;
  }
  
  #current {
    color: #ec512f;
  }

  /* Footer css */
footer {
    background:#000030;
    padding: 20px;
    text-align: center;
    margin-top:5em;
    margin-left:0em;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-links img {
    max-width: 150px; 
    padding-right: 10rem;
    padding-top: 0.5rem;
  
}
  
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 8rem;
    padding-bottom: 1rem;
}
  
.footer-links a {
    color: white;
    text-decoration: none; 
    transition: color 0.3s ease;
}
  
.footer-links a:hover {
    color: #d35f45;
}
  
.footer-social a {
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}
  
.footer-social a:hover {
    color: #d35f45;
}
  
.footer-social img{
    width:5%;
    margin-right: 4rem;
}
.footer-copyright {
    font-size: 14px;
    color: #888;
}
  
.footer-img {
    height: 45px;
    width: 500px;
}