* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    overflow-y: auto;
}
body{
     /* ombre effect as background gradient */
  background:  linear-gradient(
    to bottom right, /*  gradient direction */
    #6145B7 0%,      /* starting color at the top left corner */
    #3E30A0 5%,     /* second color transition */
    #02066F 25%,     /* third color transition */
    #000030 100%     /* final color for the rest of the page */
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main{
    background: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
main h1{
    width: 100%;
    border-bottom: 1px solid #071c95;
    padding: 0;
}
h1 img{
    padding: 0;
    width: 7em;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 20px;
    color: #071c95;
    font-weight: 600;
}
.opt{
    background-color: #fff;
    color: #222;
    font-size: 0.85em;
    font-weight: 500;
    width: 100%;
    border: 1px solid #071c95;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.opt:hover{
    background-color: #071c95;
    color: #fff;
    padding-left: 15px;
    box-shadow: 0px 0px 15px grey;
}
.opt-review{
    background-color: #fff;
    color: #222;
    font-size: 0.85em;
    font-weight: 500;
    width: 100%;
    border: 1px solid #071c95;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: none;
}
.next-btn{
    background-color: #071c95;
    color: #ffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: all 0.2s;
}
.next-btn:hover{
    box-shadow: 0px 0px 15px grey;
}
.prev-btn{
    background-color: grey;
    color: #ffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}
.prev-btn:hover{
    box-shadow: 0px 0px 15px grey;
}
.ends{
    color: #ffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    transition: all 0.2s;
}
.ends:hover{
    box-shadow: 0px 0px 15px grey;
}
.correct{
    background-color: #9aeabc;
    font-weight:600;
}
.incorrect{
    background-color: #ff9393;
}
.selected{
    background-color: #6472bf;
    color: #fff;
    padding-left: 10px;
    box-shadow: 0px 0px 15px grey;
    cursor: pointer;
}
.selected:hover{
    background-color: #6472bf;
    color: #fff;
    padding-left: 15px;
    box-shadow: 0px 0px 15px grey;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 0px 0px 15px grey;
}
#navigator{
    display: inline;
}