body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  box-sizing: border-box;
  color: #ec512f;
  font-weight: 500;
  height: 100vh;
  margin: 0;
  /* ombre effect as background gradient */
  background: linear-gradient(
    to bottom right, /*  gradient direction */
    #6145B7 0%,      /* starting color at the top left corner */
    #3E30A0 25%,     /* second color transition */
    #02066F 50%,     /* third color transition */
    #000030 100%     /* final color for the rest of the page */
  );
}
body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../img/orangegirl_fr.png");
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
}

nav {
  background-image: url(../img/QuizDEC\ \(2\).png);
  background-position: left top;
  background-size: 180px;
  background-repeat: no-repeat;
  padding: 1em 2em 2em 7em;
  margin-bottom: 20px ;
}

nav ul{
  margin-top: 1.5em;
  margin-left: 45em;
}

li {
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3em;
}

a {
  text-decoration: none;
  color: #ec512f;
}
.footer-img{
    height: 45px;
}


body {
  height: 100vh;
  margin: 0;
  /* ombre effect as background gradient */
  background: linear-gradient(
    to bottom right, /*  gradient direction */
    #6145B7 0%,      /* starting color at the top left corner */
    #3E30A0 25%,     /* second color transition */
    #02066F 50%,     /* third color transition */
    #000030 100%     /* final color for the rest of the page */
  );
}
